<div class="center-info">

    <h1>About Me</h1>
    <div class="about-me-contain">
        <p>Growing up, I always loved using computers; mostly for gaming, as any "normal" boy born in the 1990s, right?! I had several friends who were really into programming, and would teach themselves how to code; crazy, I thought...sounds boring! I took a CS course in high school with a friend, which I enjoyed, but frankly didn't understand it too well at the time.</p>
        
        <p>While in college at BYU, I was taking general classes, but still had no idea what I wanted to do with my life. Nothing really jumped out at me! After I saw a roommate working on some freelance websites one day, I was really intrigued by it and decided to look into web development. I started teaching myself the basics of HTML and CSS, but knew that in order to really learn, I ought to look into web development courses.</p>   
        
        <p>That's when I stumbled upon <a href="http://www.devmountain.in">DevMountain</a>. I applied, got in, learned about the MEAN stack (AngularJS front-end, Node and MongoDB on the back-end), and within a couple months I got a job working as a front-end web developer for a small contracting company called TagVar. Here, I worked directly with my boss on some front-end heavy websites for local companies. I used AngularJS and a bit of PHP on most of the sites. We stayed up late working from home, some nights until 3 or 4 in the morning...but I loved it! I'd finally found a career I was passionate about.</p>
        
        <p>A few months later, although I was having fun working as a contractor, I realized I wanted to do web development full-time. I put my resume on a couple of job search sites, and was shocked when someone contacted me within just a couple weeks. I interviewed with Silent Break Security, and got a job there working on a web app called PhishThreat. Essentially, I was tasked with creating HTML phishing email templates, and AngularJS/Bootstrap training modules, in order to mock real-world phishing attacks and teach people how to spot phishing attempts.</p>
        
        <p>Not 4 months had gone by, when my boss suddenly announced to our tiny team of 3 that PhishThreat would be acquired by a major security software company, Sophos. Since November 2016, I've been with Sophos, and I love it! I've been given many opportunities to learn and practice new languages, and work with new libraries, algorithms, and designs. We've got a dedicated, focused team as well. I'm excited to see what the future brings!</p>
        
        <p style="margin-top:50px;font-size:10px"><em>Last updated: November 18, 2017</em></p>
    </div>
</div>