<div class="center-info">


    <h1>Contact Me!</h1>
    
    
    <a href="https://github.com/kbl212" target="_blank"><button id="facebook-btn">Github</button></a>
    <a href="mailto:kyle.lauritzen@gmail.com?Subject=Hello%20Kyle!" target="_top"><button id="email-btn">Email</button></a>
    <a href="https://www.linkedin.com/in/kyle-lauritzen-b70b33107" target="_blank"><button id="linkedin-btn">LinkedIn</button></a>
    <br/>
  <!--  <a href="tel:385-312-4477"><button id="call-btn">Call Me</button></a> -->

</div>