<div class="portfolio-contain" ng-controller="portfolioCtrl">

    <div class="one-piece">
    
      <div class="port-vid">
        <a href="http://provohousinghub.herokuapp.com" target="_blank"> 
          
          <video src="../2015-12-25%2011-20-13.mp4" type="video/mp4" autoplay loop id="video-port" muted>
          </video>
            
        </a>
      </div>
     
    
       <a href="http://provohousinghub.herokuapp.com" target="_blank"><p id="port-title">PROVO HOUSING HUB</p></a>
        <br/>
        <p>Made using the MEAN stack: MongoDB, ExpressJS, AngularJS, node.js. Also utilized passport-facebook for user authentication, and Amazon s3 for image hosting.</p>
    
    
    </div>

</div>