<div class="portfolio-contain" ng-controller="portfolioCtrl">

    <div class="one-piece">

        <div class="port-vid">
            <a href="http://provohousinghub.herokuapp.com" target="_blank">

                <video src="../2016-01-21%2021-13-56.mp4" type="video/mp4" autoplay loop id="video-port" muted>
                </video>

            </a>
        </div>


        <a href="http://provohousinghub.herokuapp.com" target="_blank">
            <p id="port-title">PROVO HOUSING HUB</p>
        </a>
        <br/>
        <p>Made using the MEAN stack: MongoDB, ExpressJS, AngularJS, node.js. Also utilized passport-facebook for user authentication, and Amazon s3 for image hosting.</p>


    </div>





    </br>
    </br>
    </br>
    <div class="one-piece">

        <div class="port-vid">
            <a href="http://kronolearn.com" target="_blank">

                <video src="../2016-01-21%2021-18-06.mp4" type="video/mp4" autoplay loop id="video-port" muted>
                </video>

            </a>
        </div>


        <a href="http://kronolearn.com" target="_blank">
            <p id="port-title">Kronolearn</p>
        </a>
        <br/>
        <p>Project I collaborated on with 3 other people. We used the MEAN stack, gulp, SASS, Amazon s3, and local auth. I implemented our spaced-repetition algorithm in the quiz, and completely designed the view and functionality of the quiz, as well as the All Courses view.</p>


    </div>
    </br>
    </br>
    </br>
</div>