html {
    min-height: 100%;
    position: relative;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background: url("../Optimized-darkforesttrail.jpg") no-repeat center center fixed;
    background-size: cover; 

}

button {
    width: 200px;
    color: #fff;
}

a:visited {
    color: #fff;
}

.front-page {
    height: 100%;
    width: 100%;
    background: rgba(70,70,70, 0.6); 
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.logo {
    display: inline-block;
}

.nav {
    float:right;
    display: inline-block;
}
.nav li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.nav li:hover {
    color: teal;
    cursor: pointer;
}

.nav a:hover {
    color: teal;
    cursor: pointer;
}

#contact-li {
    border: 2px solid #fff;
    padding: 10px;
}

#contact-li:hover {
    background-color: #fff;
    color: teal;
}

.prof-pic {
    max-height: 350px;
    max-width: 250px;
    border-radius: 50px;
    border: 5px solid #fff;
}

h1 {
    text-align: center;
    font-size: 48px;
}
.center-info {
    margin-top: 50px;
    text-align: center;
    clear:both;
}

.center-info button {
    background: transparent;
    border: 2px solid #fff;
    padding: 10px 30px;
}

.center-info button:hover {
    background-color: #fff;
    color: teal;
}

.nav a {
    color: #fff;
    text-decoration: none;

}

.portfolio-contain {
    width: 80%;
    text-align: center;
    clear: both;
    margin: 50px auto 0 auto;
}

.one-piece {
    width: 600px;
    margin: 0 auto;
    
}

.one-piece p {
    margin: 0 auto;
    width: 350
}

video {
    height: 100%;
    width: 500px;
    border: 5px solid #fff;
    padding-top: 0;
}

#video-port {
}

#port-title {
    font-size: 30px;
    text-decoration: underline;
    color: #fff;
}

#port-title:hover {
    color: teal;
}

.kyle-logo {
    height: 100px;
    width: 100px;
    margin-left: 15px;
    margin-top: 10px;
}

#resume-title {
}

.resume-btn {
    color: #fff;
}

.contact-btn {
    color: #fff;
}

#facebook-btn:hover {
    background-color: #405D9A;
    color: #fff;
}

#linkedin-btn:hover {
    background-color: #333333;
    color: #fff;
}

#email-btn:hover {
    background-color: #EC4335;
    color: #fff;
}

.about-me-contain {
    width: 60%;
    margin: 0 auto;
}

.about-me-contain p {
    text-align: left;
}

#byu-logo {
    height: 100px;
    width: 200px;
    float: left;
    margin: 0 20px 20px 0;
}

#dev-mtn-logo {
    height: 75px;
    width: 200px;
    float: right;
    margin: 0 0 20px 20px;
}

.alt-port-image {
    display:none;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

    
    .nav li {
        display:block;
        margin-bottom: 10px;
    }
    
    .prof-pic {
        text-align: center;
        margin: 0 auto;
    }
    
    .one-piece {
        width: 80%;
    }
    
    video {
        width: 80%;
    }
    
    #facebook-btn, #email-btn, #linkedin-btn {
        display: block;
        margin: 0 auto 20px auto;
    }
    
    a {
        text-decoration: none;
    }
    
    .resume-btn, .contact-btn {
        margin-bottom: 10px;
    }
    
}

@media screen and (max-width: 540px) {
    .online-resume-btn {
        display: none;
    }
    
    video {
        display:none;
    }
    
    .alt-port-image {
        display: block;
        height: 100px;
        width: 200px;
        border: 5px solid #fff;
        padding-top: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 420px) {
    .alt-port-image {
        height: 150px;
        width: 200px;
    }
}