html {
    
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background: url("../114H.jpg") no-repeat center center fixed;
    background-size: cover; 
}

button {
    width: 200px;
    color: #fff;
}

a:visited {
    color: #fff;
}

.front-page {
    height: 100%;
    width: 100%;
    background: rgba(70,70,70, 0.8);
    color: #fff;
}

.logo {
    display: inline-block;
}

.nav {
    float:right;
    display: inline-block;
}
.nav li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.nav li:hover {
    color: teal;
    cursor: pointer;
}

.nav a:hover {
    color: teal;
    cursor: pointer;
}

#contact-li {
    border: 2px solid #fff;
    padding: 10px;
}

#contact-li:hover {
    background-color: #fff;
    color: teal;
}

.prof-pic {
    max-height: 350px;
    max-width: 250px;
    border-radius: 50px;
    border: 5px solid #fff;
}

h1 {
    text-align: center;
    font-size: 48px;
}
.center-info {
    margin-top: 50px;
    text-align: center;
}

.center-info button {
    background: transparent;
    border: 2px solid #fff;
    padding: 10px 30px;
}

.center-info button:hover {
    background-color: #fff;
    color: teal;
}

.nav a {
    color: #fff;
    text-decoration: none;

}

.portfolio-contain {
    width: 80%;
    text-align: center;
    clear: both;
    margin: 50px auto 0 auto;

}

.one-piece {
    width: 600px;
    margin: 0 auto;
    
}

.one-piece p {
    margin: 0 auto;
    width: 350
}

video {
    height: 100%;
    width: 500px;
    border: 5px solid #fff;
    padding-top: 0;
}

#video-port {
}

#port-title {
    font-size: 30px;
    text-decoration: underline;
    color: #fff;
}

#port-title:hover {
    color: teal;
}

.kyle-logo {
    height: 100px;
    width: 100px;
    margin-left: 15px;
    margin-top: 10px;
}

#resume-title {
}

.resume-btn {
    color: #fff;
}

.contact-btn {
    color: #fff;
}

#facebook-btn:hover {
    background-color: #405D9A;
    color: #fff;
}

#linkedin-btn:hover {
    background-color: #333333;
    color: #fff;
}

#email-btn:hover {
    background-color: #EC4335;
    color: #fff;
}