html {
    
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100%;
    width: 100%;
        background: url("../114H.jpg") no-repeat center center fixed;
    background-size: cover; 
}

.front-page {
    height: 100%;
    width: 100%;
    background: rgba(70,70,70, 0.6);
    color: #fff;
}

.logo {
    display: inline-block;
}

.nav {
    float:right;
    display: inline-block;
}
.nav li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.nav li:hover {
    color: blue;
}

#contact-li {
    border: 2px solid #fff;
    padding: 10px;
}

h1 {
    clear: both;
    text-align: center;
    font-size: 48px;
}
.center-info {
    margin-top: 300px;
    text-align: center;
}

.center-info button {
    background: transparent;
    border: 2px solid #fff;
    padding: 10px 30px;
}